[Unit]
Description=Temperamental TDP Control
After=handycon.service

[Service]
User=gamer
Group=gamer
ExecStart=/usr/lib/temperamental/gamepad-listener.py

[Install]
WantedBy=multi-user.target
